
/* Selector universal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ajusta cómo se calculan los bordes y dimensiones de los elementos */
}

html, body {
  height: 100%; /* Asegúrate de que el fondo cubra toda la altura */
  background: linear-gradient(#0087c5, #87CEEB); /* Degradado de azul a celeste */
}

.App{
  display: flex;
  flex-wrap: wrap;/**/
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  font-family: Lato,sans-serif;
}

/*central el loco*/
.logo-contenedor{
  width: 100%;/*ancho*/
  display: flex;
  align-items: center;
  margin: 20px;
}

/*mantener lo del contenedor centrado con la altura q le proporcionemos*/
.logo-app{
  height: 100px;/*altura*/
}